GEMINI_API_KEY = "YOUR_GEMINI_API_KEY"

# GARAGE OBJECT STORAGE
GARAGE_RPC_SECRET = "32 bytes hexadecimal string"
AWS_ACCESS_KEY_ID = "Your Key ID"
AWS_SECRET_ACCESS_KEY = "Your Secret key"
AWS_REGION = "garage"
BUCKET_NAME = "Your bucket name"
